/* Body */
body {
    background-color: #1a1a1d; /* Dark gray background */
    color: #f0f0f0; /* Light gray text */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
    padding-top: 20px; /* Move the header slightly down */
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
    backdrop-filter: blur(10px); /* Apply the blur effect */
    filter: blur(10px); /* Fallback for older browsers */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Header */
header {
    background-color: rgba(39, 38, 41, 0.9); /* Slightly transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Banner Image */
header .banner {
    width: 100%;
    height: 400px;
    background: url('../images/dashboard/banner.png') no-repeat center center;
    background-size: cover; /* Ensure the image covers the area */
    margin-bottom: 30px;
    transition: height 0.5s ease, background-size 0.5s ease; /* Add transitions */
}

@media (max-width: 768px) {
    header .banner {
        height: 200px; /* Reduce the height for smaller screens */
        background-size: contain; /* Contain the image within the area */
    }
}


header .top {
    text-align: center;
    color: #ffab40;
    font-size: 1.2em;
    padding: 5px 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center; /* Center the navigation tabs */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation tabs */
    background-color: rgba(39, 38, 41, 0.9); /* Slightly transparent */
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    display: block;
    padding: 15px 20px; /* Increased padding for bigger tabs */
    font-size: 16px; /* Increased font size for bigger tabs */
    border-radius: 5px;
    transition: 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background:  #444;
    color: #ffab40; /* White text color on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.9); /* Slightly transparent */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: #f0f0f0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #444;
    color: #ffab40;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Content */
main#content {
    flex: 1;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

/* Footer */
footer {
    background-color: rgba(51, 51, 51, 0.9); /* Slightly transparent */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

/* Headings */
h1 {
    color: #ffab40; /* Orange headings */
    margin-top: 0;
}

h2, h3 {
    color: #e6c08e; /* Light orange headings */
}

li {
    color: #c8c7c9;
}

/* Links */
a {
    color: #80d8ff; /* Light blue links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
